*.psd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/home/zack/Desktop/IsariaPreferralGenome/ForGithub/MBrunneum_TcToxinFullComplexPrediction_CombFold/** filter=lfs diff=lfs merge=lfs -text
/home/zack/Desktop/IsariaPreferralGenome/ForGithub/MBrunneum_TcToxinFullComplexPrediction_CombFold/**/*.json filter=lfs diff=lfs merge=lfs -text
ls filter=lfs diff=lfs merge=lfs -text
